#titleh2FaleComigo {
    background-color: rgb(10, 10, 10);
    padding: 40px 0 20px 0;
    margin: 0 0 50px 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 29px;
}

h5 {
    font-size: 22px;
    font-weight: 500;
    line-height: 250%;
}

p {
    line-height: 160%;
}

li {
    list-style: none;
}

.foneEemail {
    color: rgb(0, 173, 111);
    margin-right: 10px;

}

#BotaoWhatsApp {
    width: 250px;
    height: 50px;
    margin-left: 30px;
    border-radius: 25px;
    background-color: rgb(0, 173, 111);
    color: white;
    font-weight: 600;
    font-size: 15px;
    border: none;
    cursor: pointer;
    transition: .4s;
}

#BotaoWhatsApp:hover {
    background-color: rgb(1, 92, 59);
    transition: .4s;
}

.sigaMe {
    margin-right: 10px;
    transition: .4s;
}

.sigaMe:hover {
    color: rgb(0, 173, 111);
    transition: .4s;
    cursor: pointer;
}

#WhatsApp {
    background-color: rgb(0, 173, 111);
    position: fixed;
    top: 87%;
    border-radius: 60%;
    width: 60px;
    height: 60px;
    transition: .4s;
}  

#WhatsApp:hover {
    width: 70px;
    height: 70px;
    transition: .4s;
}

a {
    color: white;
}

@media (min-width: 800px) {

    #WhatsApp {
        right: 2%;
    }

}


@media (max-width: 799px) {
    #WhatsApp {
        right: 5%;
    }

}

#Rodapé {
    background-color: rgb(14, 14, 14);
    color: white;
    padding: 10px 0;
    text-align: center;
}