
#titleh2FaleComigo {
    background-color: rgb(10, 10, 10);
    padding: 20px 0 20px 0;
    margin: 0 0 20px 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 29px;
}

h5 {
    font-size: 22px;
    font-weight: 500;
    line-height: 250%;
}

p {
    line-height: 160%;
}

li {
    list-style: none;
}

.foneEemail {
    color: rgb(0, 173, 111);
    margin-right: 10px;

}

#BotaoWhatsApp {
    width: 250px;
    height: 50px;
    margin-left: 30px;
    border-radius: 25px;
    background-color: rgb(0, 173, 111);
    color: white;
    font-weight: 600;
    font-size: 15px;
    border: none;
    cursor: pointer;
    transition: .4s;
}

#BotaoWhatsApp:hover {
    background-color: rgb(1, 92, 59);
    transition: .4s;
}

.sigaMe {
    margin-right: 10px;
    transition: .4s;
}

.sigaMe:hover {
    color: rgb(0, 173, 111);
    transition: .4s;
    cursor: pointer;
}

#WhatsApp {
    background-color: rgb(0, 173, 111);
    position: fixed;
    top: 87%;
    border-radius: 60%;
    width: 60px;
    height: 60px;
    transition: .4s;
}

#WhatsApp:hover {
    width: 70px;
    height: 70px;
    transition: .4s;
}

a {
    color: white;
}




form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form input {
    background-color: rgb(14, 14, 14);
    border: 1px solid rgb(0, 173, 111);
    padding: 8px;
    margin-bottom: 20px;
    color: white;
    transition: background-color 0.3s, border-color 0.3s; 
    width: 100%;
}

.form-group {
    width: 100%;
    box-sizing: border-box;
}

form input:focus {
    border: 1px solid rgb(0, 173, 111);
    outline: 0;
    box-shadow: 0px 0px 7px rgb(0, 173, 111);

    background-color: rgb(14, 14, 14);
    transition: background-color 0.3s, border-color 0.3s;
}

form button {
    background-color: rgb(14, 14, 14);
    border: 1px solid rgb(0, 173, 111);
    padding: 10px;
    margin-bottom: 20px;
    color: white;
    cursor: pointer;
    transition: .3s;
    width: 100%;
}

form button:hover {
    box-shadow: 0px 0px 7px rgb(0, 173, 111);
    transition: .3s;
}

#message {
    padding: 8px 8px 200px 8px;
}

#InputSuaMensagem::placeholder {
    position: absolute;
    top: 8px;
}


@media (min-width: 800px) { /*DESKTOP*/

    #WhatsApp {
        right: 2%;
    }

}


@media (max-width: 799px) { /*MOBILE*/
    #WhatsApp {
        right: 5%;
    }

    

}

#Rodapé {
    background-color: rgb(14, 14, 14);
    color: white;
    padding: 10px 0;
    text-align: center;
}


/* Estilo para as mensagens de erro */
.error {
    color: #E64A19; /* Laranja avermelhado para destacar os erros */
    font-size: 0.875rem; /* Tamanho da fonte menor */
    margin: 0px 5px; /* Espaçamento superior e inferior */
}

/* Estilo para os campos do formulário com erro */
input.error {
    border-color: #E64A19; /* Borda vermelha para indicar erro */
    background-color: rgb(14, 14, 14);
}

/* Estilo para os campos do formulário válidos */
input.valid {
    border-color: rgb(0, 173, 111); /* Verde para campos válidos */
    background-color: rgb(14, 14, 14);
}
